:root {
  --primary-color: #48435c;
  --secondary-color: #61e786;
  --tertiary-color: #c7c4f2;
  --bg-color: #edffec;
  --primary-font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  width: 100%; /* Ensure body takes full width */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.section-main {
  margin: 10px 20px;
  width: calc(100% - 40px);
}

table {
  border-collapse: collapse;
  width: 60%;
  max-width: 100%;
}

td {
  padding: 0.2em;
  text-align: left;
  justify-content: center;
}

.skill {
  /* border: 1.5px solid #c7c4f2; */
  border-radius: 10px;
  padding: 5px;
  display: inline-block;
  color: var(--primary-color);
  background-color: var(--tertiary-color);
  transition: background-color 0.3s, color 0.3s;
  font-weight: 500;
}

.skill:hover {
  background-color: var(--tertiary-color);
  opacity: 0.8;
}

.years {
  font-size: 0.9em;
  font-style: italic;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: var(--secondary-color);
  }
  100% {
    fill: var(--tertiary-color);
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

@supports (display: grid) {
  .about-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 20px;
  }

  .about-portrait {
    flex: float;
    width: 300px;
  }
}

@media all and (max-width: 500px) {
  .section-main {
    margin: 10px;
    width: calc(100% - 20px);
  }
  .about-grid {
    grid-template-columns: 1fr;
  }

  .about-grid__item:first-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .about-portrait {
    width: 100%; /* Adjust as needed */
    max-width: 300px; /* Adjust as needed */
  }
}
