/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.section-case {
  margin: 10px 20px;
  line-height: 1.3em;
}

.case-links {
  text-align: center;
}

.case-links a {
  text-decoration: underline;
  text-align: center;
}

.overview-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2rem 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.features-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2rem 1fr 2rem 1fr 2rem 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

.feature-title {
  font-weight: 700;
  background-color: var(--secondary-color);
}

.grid-features {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2rem 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.screenshot {
  max-width: 100%;
}

.screenshot-code {
  max-width: 80%;
  padding-top: 1rem;
  display: block;
}

.credits {
  font-size: 0.9rem;
}
