/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact-info,
.contact-form {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  text-align: center;
}

.contact-form {
  border-top: solid 1px #48435c;
}

form {
  /* position: relative;
  width: 540px;
  height: 4300pxpx;
  margin: 0 auto;
  padding: 1em;
  box-sizing: border-box; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

.standard-label {
  margin: 10px 0 5px;
}

input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #48435c;
  border-radius: 5px;
  background-color: #c7c4f260;
}

input[type="telephone"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #48435c;
  border-radius: 5px;
  background-color: #c7c4f260;
}

textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #48435c;
  border-radius: 5px;
  background-color: #c7c4f260;
}
