:root {
  --primary-color: #48435c;
  --secondary-color: #61e786;
  --tertiary-color: #c7c4f2;
  --bg-color: #edffec;
  --primary-font-weight: 400;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-info,
.contact-form {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  text-align: center;
}

.contact-form {
  border-top: solid 1px var(--primary-color);
}

form {
  /* position: relative;
  width: 540px;
  height: 4300pxpx;
  margin: 0 auto;
  padding: 1em;
  box-sizing: border-box; */
  display: flex;
  flex-direction: column;
  width: 100%;
}

.standard-label {
  margin: 10px 0 5px;
}

input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  background-color: #c7c4f260;
}
