.profile_portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
  padding-top: 20px;
}

.profile::after {
  content: "";
  display: table;
  clear: both;
}

.portrait-container {
  position: relative;
  width: 250px;
  height: 250px;
  float: left;
  margin: 0 20px 0 18px;
  border-radius: 50%;
  overflow: hidden;
}

.portrait-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: opacity 1s ease-in-out;
}

.real-portrait {
  opacity: 0;
}

.portrait-container:hover .real-portrait {
  opacity: 1;
}

.portrait-container:hover .pixel-portrait {
  opacity: 0;
}

@media all and (max-width: 500px) {
  .profile_portrait {
    float: none;
    display: block;
    margin: 0 auto 20px;
    width: 100%;
    max-width: 250px;
  }

  .profile {
    text-align: center;
    padding-top: 20px;
  }

  .portrait-container {
    float: none;
    margin: 0 auto 20px;
    width: 100%;
    max-width: 250px;
  }

  .portrait-container img {
    width: 100%;
  }
}
